# Data Science Tools and Ecosystem

## Author: 
    Klaus Fischer

## In this notebook, Data Science Tools and Ecosystem are summarized.

### **Objectives:**
- List popular languages for Data Science
- List popular libraries used in Data Science
- Execute basic arithmetic expressions 
- Convert minutes to hours

### Some of the popular languages that Data Scientists use are:

1. R
2. Python
3. Julia

### Some of the commonly used libraries used by Data Scientists include:

1. PyTorch
2. Pandas
3. Matplotlib

|Data Science Tools|
|------------------|
|Jupyter Notebook|
|VS Code|
|Google collabratory|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [10]:
#This will convert 200 minutes to hours by diving by 60
minutes = 1
hour = 60 
200*minutes/hour

3.3333333333333335